# platform/hardware config
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_unielec_u7621-01-16m=y
CONFIG_SIGNED_PACKAGES=n

# product/model/version config
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="bnx"
CONFIG_VERSION_PRODUCT="BNX-2500B1"
CONFIG_VERSION_HWREV="1"
CONFIG_VERSION_REPO="/"
CONFIG_VERSION_FILENAMES=n
CONFIG_VERSION_CODE_FILENAMES=n

# BNX packages
CONFIG_PACKAGE_bnx-core=y
CONFIG_PACKAGE_bnx-vpn=y
CONFIG_PACKAGE_bnx-hotspot=y
CONFIG_PACKAGE_bnx-sim=y
CONFIG_PACKAGE_bnx-shell=y
CONFIG_PACKAGE_bnx-cloud-services=y
CONFIG_PACKAGE_bnx-device-status=y
CONFIG_PACKAGE_bnx-device-info=y
CONFIG_PACKAGE_bnx-diagnostics=y

# 3rd party packages
CONFIG_PACKAGE_coreutils-timeout=y
CONFIG_PACKAGE_monit=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_libustream-wolfssl=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_kmod-usb-serial-option=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-proto-3g=y
CONFIG_PACKAGE_luci-proto-qmi=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_libqmi=y

# 3rd party variables
CONFIG_COOVACHILLI_OPENSSL=y
